<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!--
    <link rel="stylesheet" href="try.css"> --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="email-container card">
        <img class='servi_logo' src="ServiFind-black.png" />
        <h1>Verify your email address</h1>
        <p>Please confirm that you want to use this as your ServiFind account email address. Once it's done you will be
            able
            to use your account!</p>

        <a href=${url}>
            <button class="form-control">
                Verify my email
            </button></a>
    </div>

</body>

</html>