<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="profile-container">
        <div class="profile-content">
            <img src="michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="">
            <div class="profile-info">
                <h4>Profile Information:</h4>
                <div class="name">Name: {service.user && service.user.name}</div>
                <div class="age">Age: 24</div>
                <div class="gender">Gender: Female</div>
                <div class="address">Address: Mansanas St. Taguig City</div>
                <div class="contact">09221213534</div>
            </div>
            <div class="button-profile">
                <button>Inquire</button>
                <button>Read More</button>
            </div>
        </div>
        <div class="service-details">
            <h1>Nail Treatments</h1>
            <div class="list-of-service__container">
                <div class="list-of-service">
                    <h2>List of Services</h2>
                    <ul>
                        <li>Manicure and Pedicure</li>
                        <li>Handspa and Footspa</li>
                        <li>Hand and Foot Paraffine</li>
                        <li>Waxing</li>
                        <li>Gel Polish</li>
                        <li>Nail Arts</li>
                    </ul>
                </div>
                <div className="customer-ratings">
                    <img src="chelson-tamares-vtQHwU4F13s-unsplash.jpg" alt="">
                    <h2>Customer reviews</h2>
                    <div class=”rating”>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span>6 customer ratings</span>
                </div>
            </div>

        </div>
    </div>
</body>

</html>